.tab-item {
  cursor: pointer;
  border-right: 1px solid #ddd;
  color: #333;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
}

.tab-item:hover {
  background-color: #f1f1f1;
  color: #0d6efd;
}

.tab-item.active-tab {
  border-bottom: 3px solid #0d6efd;
  color: #0d6efd;
  font-weight: 600;
  background-color: #f8f9fa;
}
