/* General styles */
.SearchGrid, .leftbar {
  background-color: rgb(252, 252, 252);
  padding-top: 0.5px;
  box-shadow: 2px 2px 6px 2px grey;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
}








.radio-input input {
  display: none;
}






.radio-input {

  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000000;
  width: 1000px;
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  font-family: poppins;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 3);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  background-color: rgb(11 117 223);
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0/3));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1/3));
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2/3));
}








/* 

.radio-input input {
  display: none;
}






.radio-input {
  --container_width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000000;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 3);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  background-color: rgb(11 117 223);
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0/3));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1/3));
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2/3));
}
 */
































/* chart code  */
.App {
  text-align: center;
}



h2 {
  color: #333;
}



/* unit tab */
.App {
  text-align: center;
}

.leftbar {
  border-right: 1px solid #ccc;
  overflow-y: scroll;
  max-height:822px;
}

.main-content {
  padding: 20px;
}

h4 {
  color: #333;
}

/* delete button code */

.deletebtn{

  background-color: transparent;
  color: black;
  border-color: transparent;
  box-shadow: 0px 0px 0px 0px transparent;
}

.deletebtn:hover{
    background-color: transparent;
    color: black;
}

.deletebtn:active{
  transform: scale(0.98);
}



.itemicons{
  font-size: 25px;
  background: 0;
  color: rgb(0, 0, 0);
  padding: 0px;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 5px 0px transparent;
  transition: 0.8s;
  border-color: transparent;
  font-weight: bold;
  transition: background-color 0.8s ease, color 0.9s ease;
}

.itemicons:hover{
  background-color: transparent;
  color: rgb(0, 0, 0);
  transition: 0.8s;
  transform: scale(1.08) ;

}




