/* .exp-container {
  background: white;
  padding-bottom: 140px;
  margin-top: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
} */

/* Style the form container */
.exp-form {
  padding: 2px;
  border-radius: 8px;
  width: 100%;
  max-width: 450px;
}

.error {
  color: "red" !important;
  border: "1px solid red" !important;
  padding: "5px" !important;
  margin-bottom: "10px" !important;
}

.input {
  text-align: left;
  padding-left: 10px;
}

.atthdrcode {
  right: -55px;
  top: 1;
  z-index: 1;
}

.stahdrcode {
  right: -55px;
  z-index: 1;
}

.inthdrcode {
  right: -55px;
  z-index: 1;
}

.inthdrcode:hover,
.atthdrcode:hover {
  background-color: none;
}

.searchIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.searchIcon:hover {
  background-color: #007bff;
  color: #fff;
}

.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 40px;
  border: none;
  padding: 0px 10px;
  border-radius: 5px;
  background-color: rgb(49, 49, 83);
  gap: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}

.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}

.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}

.text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}

.Documents-btn:hover {
  background-color: rgb(58, 58, 94);
}

.Documents-btn:active {
  transform: scale(0.95);
}

.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}

.proh1 {
  margin-left: 25px;
}

.container-form-box {
  background: #ffffff;
  border-radius: 10px;
  width: 100% !important;
}

/* Good spacing */
.exp-form-floating {
  display: flex;
  flex-direction: column;
}

.exp-form-labels {
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.exp-input-field {
  border-radius: 6px !important;
  border: 1px solid #d7d7d7 !important;
  height: 38px;
}

/* SEARCH + RELOAD BUTTONS RIGHT SIDE */
.search-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

/* Icon Buttons */
.icon-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-btn .tooltip {
  position: absolute;
  top: 0;
  font-size: 13px;
  background: #fff;
  padding: 5px 8px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  color: #000;
  white-space: nowrap;
  transition: all 0.25s ease;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.icon-btn .tooltip::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.icon-btn:hover .tooltip {
  opacity: 1;
  top: -23px;
}

.search {
  color: #0d6efd;
}

.save {
  color: rgb(58, 126, 35);
}

.update {
  color: #fb8500;
}

.reload {
  color: #000;
}

.icon-btn.search:hover,
.icon-btn.search:hover .tooltip,
.icon-btn.search:hover .tooltip::before {
  background-color: #0d6efd;
  color: #fff;
}

.icon-btn.save:hover,
.icon-btn.save:hover .tooltip,
.icon-btn.save:hover .tooltip::before {
  background-color: rgb(58, 126, 35);
  color: #fff;
}

.icon-btn.reload:hover,
.icon-btn.reload:hover .tooltip,
.icon-btn.reload:hover .tooltip::before {
  background-color: #000;
  color: #fff;
}

.icon-btn.update:hover,
.icon-btn.update:hover .tooltip,
.icon-btn.update:hover .tooltip::before {
  background-color: #fb8500;
  color: #fff;
}

.inputGroup {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.inputGroup input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  background: transparent;
  outline: none;
  font-size: 15px;
  transition: 0.3s ease;
}

.inputGroup input:focus {
  border-color: #4361ee !important;
  box-shadow: none !important;
}

.inputGroup label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #7a7a7a;
  /* background: white; */
  padding: 0 4px;
  transition: 0.3s ease;
  pointer-events: none;
}

/* Floating animation */
.inputGroup input:focus+label,
.inputGroup input:not(:placeholder-shown)+label {
  top: 0;
  transform: translateY(-50%) scale(0.85);
  color: #4361ee;
  background: white;
  padding: 0 6px;
}

.selectGroup {
  position: relative;
  width: 100%;
  margin: 10px 0;
}

.selectGroup .floating-label {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 0 6px;
  color: #7a7a7a;
  transition: 0.25s ease;
  pointer-events: none;
  z-index: 3;
}

.selectGroup.is-focused .floating-label,
.selectGroup.has-value .floating-label {
  top: 0;
  transform: translateY(-50%) scale(0.85);
  color: #4361ee;
  font-weight: 600;
}

.selectGroup .react-select__control {
  min-height: 28px;
  border: 1px solid #bfbfbf !important;
  border-radius: 5px !important;
  box-shadow: none !important;
  padding-left: 10px;
}

.selectGroup .react-select__control--is-focused {
  border-color: #4361ee !important;
  box-shadow: none !important;
}

.react-select__menu {
  z-index: 9999 !important;
}

.react-select__menu-list {
  z-index: 9999 !important;
}

.select-add-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: #4361ee;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  padding: 2px 6px;
}

.select-add-btn:hover {
  background-color: #4361ee;
  color: #fff;
}

/* Responsive improvement */
@media (max-width: 768px) {
  .search-btn-wrapper {
    justify-content: end !important;
  }
}

@media (max-width:767px) {
  .exp-form-floating .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*Input css*/
.close-window-btn {
  background: #f8f9fa;
  border: 1px solid #d0d0d0;
  outline: none;
  color: #333;
  font-size: 20px;
  padding: 4px 16px;
  cursor: pointer;
  transition: 0.25s ease;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

.close-window-btn:hover {
  background: #ff4d4f;
  color: #fff;
  border-color: #ff4d4f;
}

.close-window-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.image-upload-container:hover {
  border-color: #4361ee;
  background-color: #f3faff;
}

.image-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  border: 2px dashed #ccc;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.upload-placeholder-box {
  text-align: center;
  color: #6c757d;
}

.upload-icon-text span:first-child {
  font-size: 2rem;
  display: block;
}

.hidden-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.image-preview-box {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.delete-image-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  z-index: 20;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-image-btn:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .page-title {
    font-size: 20px;
  }

  .close-window-btn {
    padding: 4px 12px;
    font-size: 18px;
  }
}