.scanner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%; 
  max-width: 400px;
  padding: 30px;
  margin: 50px auto;
  border-radius: 30px;
  background: #f8f9fd;
  background: linear-gradient(180deg, #ffffff 0%, #f4f7fb 100%);
  box-shadow: rgba(133, 189, 215, 0.5) 0px 20px 30px -10px;
  border: 5px solid #ffffff;
}

.scanner-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #1089d3;
  margin-bottom: 20px;
  margin-right: 30px;
}

.barcode-reader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  background: #f0f3f8;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.barcode-reader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.barcode-input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.generate-button {
  width: 100%;
  max-width: 250px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #1fa2ff, #12d8fa);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.generate-button:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .scanner-container {
    padding: 20px;
    margin: 20px auto;
  }

  .barcode-reader {
    width: 200px;
    height: 200px;
  }

  .barcode-input {
    max-width: 250px;
    font-size: 14px;
  }

  .generate-button {
    max-width: 220px;
    font-size: 16px;
  }

  .scanner-title {
    font-size: 24px;
    margin-right: 50px;
    padding: 0;
    text-align: center;
    margin-left: 20px;
  }
}
